@import "../../../assets/styles/colors";
@import "../../../assets/styles/button";
.welcome-dialog{
  margin:  auto;
  mat-horizontal-stepper{
     .mat-step-icon {
       display: none;
     }
    ::ng-deep {
        height:100%;
        border-collapse:collapse;
        display : table;
        font-size: 18px;
      .title {
          text-align: center;
          text-transform: capitalize;
          color: $primary-color;
          .title-focus {
            color: $ternary-color;
            font-weight: bold;
            text-transform: uppercase !important;
          }
        }
        .what-is {
          color: $primary-color;
          margin-top: 90px;
          text-align: center;

        }
        .how-to {
          text-align: center;
        }

        .step-nav {
          vertical-align : bottom;
          display: flex;
          margin-top: 50px !important;
          justify-content: space-between;
        }
      }
  }
}

