
<div class="container welcome-dialog">
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template mdStepLabel>Introduction</ng-template>
      <h3 class="title"><span class="title-focus">What is</span> POMODORO</h3>
      <div class="what-is">
         The Pomodoro Technique can help you power through distractions, hyper-focus, and get things done in short bursts,
         while taking frequent breaks to come up for air and relax. Best of all, it's easy. If you have a busy job where you're expected to produce,
         it's a great way to get through your tasks. Let's break it down and see how you can apply it to your work.

         <br>
         The methodology is simple: When faced with any large task or series of tasks, break the work down into short,
         timed intervals (called "Pomodoros") that are spaced out by short breaks. This trains your brain to focus for short periods and helps you stay on top of deadlines or constantly-refilling inboxes.
         With time it can even help improve your attention span and concentration.
         <br>
         Pomodoro is a cyclical system. You work in short sprints , which makes sure you're consistently productive.
         You also get to take regular breaks that bolster your motivation and keep you creative.
       </div>
      <div class="step-nav">
        <button mat-button matStepperPrevious type="button" class="primary prev-btn">Back</button>
        <button mat-button matStepperNext type="button" class="primary">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Instruction</ng-template>
      <h3 class="title"><span class="title-focus">How To</span> POMODORO</h3>
      <mat-list class="how-to">
        <mat-list-item>1. Create/choose a task to be accomplished. </mat-list-item>
        <mat-list-item>2. Set the Pomodoro session length  (the Pomodoro is the timer), usually 25 minutes </mat-list-item>
        <mat-list-item>3. Work on the task until the Pomodoro rings </mat-list-item>
        <mat-list-item>4. Take a short break (5 minutes is OK) </mat-list-item>
        <mat-list-item>5. Every 4 Pomodoros take a longer break </mat-list-item>
        <mat-list-item>6. Set task status to complete when task is finished </mat-list-item>

      </mat-list>
      <div class="step-nav">
        <button mat-button matStepperPrevious id="prev-btn" type="button" class="primary">Back</button>
        <button mat-button matStepperNext id="next-btn" type="button" class="primary">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Login</ng-template>
      <h3 class="title"><span class="title-focus">Start To</span> POMODORO</h3>
      <app-login></app-login>
      <div class="step-nav">
        <button mat-button matStepperPrevious type="button" class="primary">Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
