<div class="settings-container">
  <div *ngIf="timer?.task?.name" class="cur-task">Current Task: {{timer?.task.name}}</div>
  <div class="settings">
    <div class="bl-settings">
      <label class="title">Break Length</label>
      <app-number-input [value]="breakLength" (valChange)="onBreakLengthValChange($event)"></app-number-input>
    </div>
    <div class="sl-settings">
      <label class="title">Session Length</label>
      <app-number-input [value]="sessionLength" (valChange)="onSessionLengthValChange($event)"></app-number-input>
    </div>
  </div>

</div>
