<div class="ctrl">
  <div class="ctrl__button ctrl__button--decrement">&ndash;</div>
  <div class="ctrl__counter">
    <input class="ctrl__counter-input" /><div class="ctrl__counter-num">{{counter}}</div>
  </div>
  <div class="ctrl__button ctrl__button--increment">+</div>
</div>
