<div class="clock-container">
  <div class="ko-progress-circle"  [ngClass]="{'not-started': !timer }"  id="PomodoroClock" data-progress="0">
    <div class="ko-circle">
      <div class="full ko-progress-circle__slice">
        <div class="ko-progress-circle__fill"></div>
      </div>
      <div class="ko-progress-circle__slice">
        <div class="ko-progress-circle__fill"></div>
        <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
      </div>
    </div>
    <div class="ko-progress-circle__overlay">
      <i class="material-icons paused-icon" *ngIf="timer?.state === states.PAUSED">pause</i>
      <span *ngIf="!timer" class="counter">{{countdownTime}} : 00</span>
      <span *ngIf="timer" class="counter"><span>{{timer?.time?.min.displayValue}}</span><span *ngIf="timer?.time?.sec">: {{timer?.time.sec.displayValue}}</span></span>
    </div>
  </div>
</div>


