@import "../../../assets/styles/colors";
@import "../../../assets/styles/button";

$setting-background: lighten($secondary-color, 50%);

.icon-active {
  background:  transparent url("../../../assets/progress-active.svg") no-repeat center;
}
.icon-complete {
  background:  transparent url("../../../assets/progress-complete.svg") no-repeat center;
}


.tasks-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  .content {
    border: 3px solid $primary-color;
    width: 80%;
    height: 600px;
    overflow: hidden;
    margin-top: 20px;
    .header {
      margin: 0;
      text-align: center;
      color: #ffffff;
      background-color:  $primary-color;
      display: flex;
      justify-content: space-around;
      align-items: center;
      input.task-name {
          height: 46px;
          width: 300px;
          border: 2px solid $primary-color;
          border-radius: 3px;
          margin-right: 10px;
          padding-left: 12px;
          font-size: 25px;
          color: $secondary-color !important;
          outline: none;

        }
      input.task-name:focus {
          background-color: #ffffff;
          box-shadow: 0 0 3px 0 $ternary-color;
          border: 1px solid $ternary-color;

        }
      input.task-name::-webkit-input-placeholder, input.task-name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          line-height: 1.33;
          color: #6c6c6c;
        }
      input.task-name::-webkit-input-placeholder, input.task-name::-moz-placeholder { /* Firefox 19+ */
          line-height: 1.33;
          color: #6c6c6c;
        }
      input.task-name::-webkit-input-placeholder, input.task-name:-ms-input-placeholder { /* IE 10+ */
          line-height: 1.33;
          color: #6c6c6c;
        }
      input.task-name::-webkit-input-placeholder, input.task-name:-moz-placeholder { /* Firefox 18- */
          line-height: 1.33;
          color: #6c6c6c;
        }
      button {
          background-color: $primary-color;
          color: #ffffff;
          cursor: pointer;
          border: none !important;
          font-size: 12px;
          &:hover {
            background-color: #ffffff;
            color: $primary-color;
          }
          &:disabled {
            color: grey;
            border: 2px solid grey;
            cursor: not-allowed;
          }
        }
      }
    .no-task {
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      font-style: italic;
      font-weight: 300;
    }
    .task-list {
      height: 600px;
      overflow: auto;
      padding: 10px;
      .title {
        font-size: 34px;
        font-weight: 300;
      }
      span.col  {
        width: 20%;
        &.heading {
          color: $ternary-color;
          font-weight: bold;
        }

      }
      button.start {
        height: 30px;
        width: 30px;
        border: 2px solid $primary-color;
        cursor: pointer;
        background: $inset-color  url("../../../assets/play.svg") no-repeat center;
        &:hover {
          background: $primary-color  url("../../../assets/play-hover.svg") no-repeat center;
        }
        &:disabled {
          border: 2px solid grey;
          cursor: not-allowed;
          background: #ffffff  url("../../../assets/play-disabled.svg") no-repeat center;

        }
      }
      .status-menu {
        display: none;
        border: 2px solid $primary-color !important;
      }
    }
  }
}
