<div class="tasks-container">

  <div class="content mat-elevation-z18">
    <div class="header">
      <h2 mat-subheader>Tasks</h2>
        <input type="text" class="task-name" placeholder="Enter Task Name" [(ngModel)]='taskName'>
        <button class="add primary" mat-button [disabled]="!taskName"  (click)="addTask(taskName)">Add Task</button>
        <button class="start primary" mat-button [disabled]="!taskName"  (click)="addTaskAndStartSession(taskName)">Add and Select</button>
    </div>

    <ng-container *ngIf="tasks?.length == 0">
      <div class="no-task"><span>Task List Empty ...</span></div>
    </ng-container>

    <ng-container *ngIf="tasks?.length > 0">
      <mat-list class="task-list">
        <mat-list-item>
          <span class="col heading">Status</span>
          <span class="col heading">Title</span>
          <span class="col heading">Sessions Complete</span>
          <span class="col heading">Last Activity Date</span>
          <span class="col heading"></span>
        </mat-list-item>
        <mat-list-item *ngFor="let task of tasks">
          <span mat-list-icon [ngClass]="getIconClass(task.status)" class="icon-active col"> </span>
          <span class="col">{{task.name | titlecase}}</span>
          <span class="col"> {{task.sessionCt}} </span>
          <span class="col"> {{task.lastActivity | date}} </span>
          <span class="col" [matMenuTriggerFor]="statusMenu">
      <button mat-icon-button >
       <mat-icon>more_vert</mat-icon>
     </button>
    </span>
          <mat-menu [classList]="'statusMenu'" #statusMenu="matMenu">
            <button mat-menu-item (click)="onSelectTask(task)"> Start </button>
            <button mat-menu-item (click)="completeTask(task)"> Complete </button>
            <button mat-menu-item (click)="removeTask(task)"> Delete </button>
          </mat-menu>
        </mat-list-item>
      </mat-list>
    </ng-container>


  </div>


</div>
