<div class="break-container">
  <div class="header">
    <p><span class="title-focus">Task:</span> {{task?.name}}</p>
  </div>
  <div class="content">
    <ng-container *ngIf="!timer">
      <label class="title">Break Length</label>
      <app-number-input [value]="breakLength" (valChange)="onBreakLengthValChange($event)"></app-number-input>
    </ng-container>
    <ng-container *ngIf="timer">
      <app-clock [timer]="timer" [countdownTime]="breakLength"></app-clock>
    </ng-container>
  </div>
  <div class="footer">
    <button class="pause primary" mat-button (click)="toggleCountdown()">Start</button>
    <button class="reset primary" mat-button (click)="resetCountdown()" [disabled]="!timer">Reset</button>
  </div>
</div>
