<div class="container">
  <div class="header">
    <div class="curr-user" *ngIf="user && !user?.isAnonymous">
      <img src="{{user?.photoURL}}" alt="" width="40"> <span>{{user?.displayName}}</span>
    </div>
    <div class="curr-user" *ngIf="user && user?.isAnonymous">
      <span>Anonymous</span>
    </div>
    <label class="title app-title">POMODORO</label>

    <div class="logout">
      <button mat-button (click)="logout()" *ngIf="user" class="primary"><i class="material-icons">exit_to_app</i>Logout</button>
      <button id="loginBtn" mat-button (click)="login()" *ngIf="!user" class="primary"><i class="material-icons">lock_open</i>login</button>
    </div>
  </div>

  <div class="main">
    <mat-tab-group [backgroundColor]="'#1d1e21'">
      <mat-tab label="Task Dashboard">
        <app-dashboard (taskSelectionChange)="handleTaskChange($event)"></app-dashboard>
      </mat-tab>
      <mat-tab label="Session" [disabled]="!selectedTask">
        <app-session [task]="selectedTask"></app-session>
      </mat-tab>
      <mat-tab label="Break" [disabled]="!selectedTask">
        <app-break [task]="selectedTask"></app-break>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


