@import "../../../assets/styles/colors";
@import "../../../assets/styles/button";
.login-container {
  margin: 50px auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .title {
    font-size: 18px;
    font-weight: 500;
    .note {
      display: inline;
      vertical-align: super;
      color: gray;
      font-size: small;
    }
  }
  .or {
    font-size: 20px;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid lighten(gray, 30%);
    line-height: 0.1em;
    margin: 10px 0 20px;
    span {
      background:#fff;
      padding:0 10px;
    }
  }

  & > * {
    margin-bottom: 20px;
  }
  .login-failed {
    border: 2px solid $danger;
    background-clip: content-box;
    padding: 2px;
    width: 50%;
    height: 50px;
    line-height: 2;
    color: $danger;
  }
}
