<div class="login-container">
  <span class="title">Login in  Anonymously <p class="note">(note: data will be lost on logout)</p></span>
  <button md-button type="button" (click)="loginAnon()" class="primary xxl"><i class="material-icons">perm_identity</i> Anonymous</button>
  <h3 class="or"><span>OR</span></h3>
  <span class="title">Login in via your google account</span>
  <button md-button type="button" (click)="login()" class="primary xxl"><img src="../../assets/img/google.png" alt=""> Google</button>
</div>
