@import "../../../assets/styles/button";
@import "../../../assets/styles/colors";

.session-container {
  padding: 20px;
  .header {
    text-align: center;
    p {
      text-transform: capitalize;
      font-size: 25px;
      margin: 0 !important;
      .title-focus {
        color: $ternary-color;
        font-weight: bold;
        text-transform: uppercase !important;
      }
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    .title {
      color: $ternary-color;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .footer {
    button {
        margin-right: 20px;
      &.reset {
        &:hover:not(:disabled) {
          background-color: darkred;
        }
      }

    }
  }
}
